parameters:
	dns: 'mysql:dbname=movies;host=10.0.0.201'
	user: 'root'
	password: 'xxxx'

application:
	#catchExceptions: yes #zobrazi error presenter
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	db1: PDO(%dns%, %user%, %password%)

	db2:
		factory: PDO('sqlite:')
		autowired: no
		setup:
			- setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION)
			- $prom = 123

	- Model\MovieFacade(..., 123)

#	- PDO(%dns%, %user%, %password%)

#	- Model\MovieFacade

#	- App\Presenters\MoviePresenter

