parameters:
	dns: 'mysql:dbname=movies;host=10.0.0.201'
	user: 'root'
	password: 'xxxx'

application:
	#catchExceptions: yes #zobrazi error presenter
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter


#	- PDO(%dns%, %user%, %password%)

#	- Model\MovieFacade

#	- App\Presenters\MoviePresenter

