{block title}Film {$movie->name}
{/block}


{block content}

<h1>Film {$movie->name}</h1>

<p>Rok: {$movie->year}</p>

<p><a n:href="list">zpět na seznam</a></p>

	<footer>Copyright 2018 tohle je detail</footer>
{/block}