
{block content}

<h1>{block title}Film {$movie->name}{/block}</h1>

<p>Rok: {$movie->year|money}</p>

<p><a n:href="list">zpět na seznam</a></p>

	<footer>Copyright 2018 tohle je detail</footer>
{/block}