<!doctype html>
<meta charset="utf-8">
<title>Seznam filmů | Movies</title>
<h1>Seznam filmů</h1>

<ul>
{foreach $movies as $movie}
<li>{$movie['name']} ({$movie['year']})</li>
{/foreach}

</ul>



{*
<ul>
	<?php foreach ($movies as $movie): ?>
	<li title='<?=htmlspecialchars($movie['name'], ENT_QUOTES)?>'>
	<?=htmlspecialchars($movie['name'])?>
	(<?=htmlspecialchars($movie['year']) ?>)</li>
	<?php endforeach ?>
</ul>
*}
<footer>Copyright 2018</footer>