<!doctype html>
<meta charset="utf-8">
<title>Seznam filmů | Movies</title>
<h1>Seznam filmů</h1>

{var $count = 123} {* ha nulla az ertek, akkor nem jelenik meg a skladem*}
{$count ? skladem}

{var $display = true}

<ul n:inner-foreach="$movies as $movie">
	<li>
		<a n:href="detail $movie->id" n:tag-if="$iterator->odd">
			{$movie->name|upper}
		</a>
		({$movie->year|money})
	</li>
</ul>

<script n:syntax="double">
	var name = {{$movie->name}};
	if (true){alert(123)}
</script>

<footer>Copyright 2018</footer>